/node_modules
/public/hot
/public/css
/public/js
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

gcs.json

_ide_helper.php
_ide_helper_models.php
package-lock.json
public/mix-manifest.json
