.v-modal-mask {
    position         : fixed;
    z-index          : 9998;
    top              : 0;
    left             : 0;
    width            : 100%;
    height           : 100%;
    background-color : rgba(0, 0, 0, .5);
    transition       : opacity .3s ease;
}

.v-modal-wrapper {
    display         : flex;
    flex-direction  : column;
    height          : 100%;
    justify-content : center;
    align-items     : center;
}

.v-modal-container {
    width            : 50%;
    min-width        : 300px;
    max-width        : 500px;
    padding          : 20px 30px;
    background-color : #fff;
    border-radius    : 2px;
    box-shadow       : 0 2px 8px rgba(0, 0, 0, .33);
    transition       : all .3s ease;
    font-family      : Helvetica, Arial, sans-serif;
    border-radius: 25px;
}

.v-modal-header h3 {
    margin-top     : 0;
    color          : #42b983;
    padding-bottom : 10px;
    border-bottom  : 1px solid;
}

.v-modal-body {
    margin : 20px 0;
}

.v-modal-default-button {
    float : right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="v-modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the v-modal transition by editing
 * these styles.
 */

.v-modal-enter {
    opacity : 0;
}

.v-modal-leave-active {
    opacity : 0;
}

.v-modal-enter .v-modal-container,
.v-modal-leave-active .v-modal-container {
    -webkit-transform : scale(1.1);
    transform         : scale(1.1);
    border-radius: 25px;
}

.has-feedback .v-modal-container{
    background-color: transparent !important;
    box-shadow: none;
    min-width:80%;
    max-width:80%;
}
.has-feedback .v-modal-wrapper{
    justify-content: start;
}