html, body {
    direction: ltr !important;
}

.c-navbar {
    .bar  {
        .links { 
            a {
                text-align: left;
            }
        }
    }
} 


.navbar-right {
    float: left !important;

    li {
        float: left !important;
    }
}

.navbar-left {
    float: right !important;

    li {
        float: left !important;
    }
}

.navbar-nav {
    li {
        float: left !important;
    }
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left !important;
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left !important;
}

.col-sm-offset-1 {
    margin-left: 8.33333333%;
    margin-right: 0;
}

.col-sm-offset-2 {
    margin-left: 16.66666667%;
    margin-right: 0;
}

.col-md-offset-2 {
    margin-left: 16.66666667%;
    margin-right: 0;
}

.col-sm-offset-3 {
    margin-left: 25%;
    margin-right: 0;
}

.col-md-offset-3 {
    margin-left: 25%;
    margin-right: 0;
}

.col-sm-offset-6 {
    margin-left: 50%;
    margin-right: 0;
}

.col-md-offset-6 {
    margin-left: 50%;
    margin-right: 0;
}

.contactus-floating-btn {
    padding: 10px 0 5px;

    p {
        width: 90px;
        height: 80px;
    }
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.FormDate {
    border-bottom-left-radius: 0.25em !important;
    border-top-left-radius: 0.25em !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.sub-category {
    .category {
        float: left !important;
    }
}

.filter-title:after {
    float: right !important;
}

.category-page .radio label, .category-page .checkbox label {
    padding-right: initial;
    padding-left: 40px;
}

.category-page .checkbox input[type=checkbox] {
    margin-left: -30px;
    margin-right: 0;
}

.add-to-cart .glyphicon {
    margin-left: 0 !important;
    margin-right: 10px !important;
}

.text-right {
    text-align: left !important;
}

.box .pull-left {
    float: right !important;
}
.box .pull-right {
    float: left !important;
}
.direction {
    direction: ltr !important;
}

.collapse-header:after {
    right: 35px !important;
    left: auto !important;
}

.rating-label {
    float: left !important;
}

.sticky .add-to-cart {
    margin-left: auto !important;
    margin-right: 0 !important;
}

.media-left, .media > .pull-left {
    padding-right: 10px !important;
    padding-left: initial !important;
}

.input-group-addon[data-v-cbc23c56]:last-child {
    border-right: 1px solid #ccc;
    border-left: 0 !important;
}

#daily-deal-countdown .block:first-child {
    margin: 0 6px 0 0px !important;
}

#daily-deal-countdown .block p.digit::after {
    right: -9px;
    left: auto;
}

.border-left {
    border-right: 1px solid #dadada;
    border-left: 0;
}
.border-right {
    border-left: 1px solid #dadada;
    border-right: 0;
}

.card {
    -webkit-box-pack: left !important;
    -ms-flex-pack: left !important;
    justify-content: left !important;
}

.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
    margin-left: -20px;
    margin-right: auto;
}

.radio label, .checkbox label {
    padding-left: 20px;
    padding-right: initial;
}

label .price {
    float: right !important;
}

.summary .pull-left {
    float: right !important;
}

.v-modal-header .pull-left {
    float: right !important;
}

.float-right {
    float: left !important;
}

.margin-right {
    margin-left: 15px;
}

th {
    text-align: left !important;
}

.printable {
    direction: rtl;
}

.mega-menu {
    left: 0;
    text-align: left;
}
.mega-menu {
    .container {
        margin: 0;
    }
}

.mega-menu ul {
	float: left;
  	margin-bottom: 20px;
  	margin-right: 40px;
  	margin-left: 0px;
  	width: 205px;
}